[submodule "resources/icons/MaterialDesign"]
	path = resources/icons/MaterialDesign
	url = https://github.com/Templarian/MaterialDesign.git
[submodule "resources/icons/vscode-codicons"]
	path = resources/icons/vscode-codicons
	url = https://github.com/microsoft/vscode-codicons.git
