.bar {
  background: transparent;

  .bar-widget-module {
    background: #{"@window_bg_color"};
    border-color: #{"alpha(@accent_bg_color, 1)"};

    padding: 0.375rem;

    border-style: solid;
    border-radius: 1.1875rem;
    border-width: 0.1875rem;

    margin-bottom: 0.1875rem;
    margin-top: 0.1875rem;

    .time {
      font-family: "monospace";

      padding: 0 0.25rem 0 0.25rem;
    }

    .workspace {
      $black-border: #{"mix(black, @headerbar_darker_shade_color, 0.4)"};

      background-color: transparent;
      border-color: #{"alpha("$black-border", 0.625)"};

      min-height: 0.375rem;
      min-width: 0.375rem;

      padding: 0.25rem;

      border-style: solid;
      border-radius: 1rem;
      border-width: 0.125rem;

      margin: 0 0.375rem 0 0.375rem;

      &.occupied {
        background-color: #{"alpha(white, 0.1875)"};
        border-color: #{"alpha("$black-border", 1)"};
      }

      &.visible {
        border-color: #{"mix(alpha(@accent_bg_color, 1), alpha("$black-border", 1), 0.375)"};

        &.occupied {
          background-color: #{"alpha(@accent_bg_color, 0.375)"};
        }

        &.active {
          border-color: #{"alpha(@accent_bg_color, 1)"};

          &.occupied {
            background-color: #{"alpha(@accent_bg_color, 0.5)"};
          }
        }
      }
    }
  }
}
